.text {
    margin: 1% 0 1% 0;
}

.input-field {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
}

.input-parameters {
    margin: 1% 5% 1% 5%;
    display: flex;
}

.input-parameters input {
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
    border: 0;
    padding: 1% 10% 1% 10%;
    width: 150%;
    height: 70%;
}

.output {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    background: #CFC1E9;
    border-radius: 20px;
    margin: 1% 5%;
    width: 60%;
    height: 10%;
}

.buttons-data {
    width: 80%;
    height: 15%;
    display: flex;
    margin: 1%;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.buttons-data form {
    display: flex;
    flex: 1 1 auto;
    height: 20%;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.buttons-data button {
    display: flex;
    font-size: large;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1%;
    padding: 1% 7%;
    border-radius: 30px;
    background: #614A8D;
    color: white;
}