.header {
    position: fixed;
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;

    background: #684AA2;
}

.buttons {
    width: 30%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.buttons button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    font-size: x-large;
    padding: 0;
    margin: 0;
}

.info {
    padding: 5px 5px 0 5px;
    right: 5%;
    font-size: xx-large;
    align-content: center;
}

.main {
    position: fixed;
    overflow: scroll;
    top: 10%;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;

    background: #FBF5CB;
}

.data {
    position: fixed;
    display: flex;
    flex: 1 0 auto;
    left: 10%;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 250%;
    text-align: center;
    background: #FBEF9D;
}

.plot_info {
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    width: 70%;
    flex: 1 1 auto;
}

.plot_diabetes{
    display: flex;
    flex: 1 1 auto;
    left: 10%;
    width: 80%;
    margin: 2%;
    flex-direction: row;
    justify-content: space-between;
}


.plot{
    margin: 2%;
}