{% extends 'base.html' %}
{% block title %}Graphics{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="../static/graphics.css">
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {% for i in plot_script %}
        {{ i|indent(4)|safe }}
    {% endfor %}
    {% for i in plot_script_diabetes %}
        {{ i|indent(4)|safe }}
    {% endfor %}
{% endblock head %}
{% block content %}
    {% if result %}
        <div class="output">
            {% if result == 1 %}
                Presumably the test for diabetes will be positive
            {% else %}
                Presumably the test for diabetes will be negative
            {% endif %}
        </div>
    {% endif %}
    <div class="plot_info">
        Diabetes?
        <div class="plot_diabetes">
            {% for i in plot_div_diabetes %}
                <div class="plot">
                    {{ i|indent(4)|safe }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="histogram">
        {% for i in plot_div %}
            <div class="plot">
                {{ i|indent(4)|safe }}
            </div>
        {% endfor %}
    </div>
    {% if final_features %}
    {% endif %}
{% endblock %}