<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style-prediction1.css">
    <title>Home</title>
</head>
<body>
<header class="header">
    <div class="buttons">
        <button name="home">Home</button>
        <button name="prediction">Prediction</button>
        <button name="graphics">Graphics</button>
    </div>
    <div class="info">
        Created by:
    </div>
</header>
<main class="main">
    <div class="data">
        <div class="text">Enter data to predict</div>
        <form action="{{ url_for('predict') }}" method="post" class="input-field">
            <div class="input-parameters">
                <input type="text" name="pregnancies" placeholder="Pregnancies" required="required">
            </div>
            <div class="input-parameters">
                <input type="text" name="glucose" placeholder="Glucose" required="required">
            </div>
            <div class="input-parameters">
                <input type="text" name="blood_pressure" placeholder="Blood pressure" required="required">
            </div>
            <div class="input-parameters">
                <input type="text" name="skin_thickness" placeholder="Skin thickness" required="required">
            </div>
            <div class="input-parameters">
                <input type="text" name="insulin" placeholder="Insulin" required="required">
            </div>
            <div class="input-parameters">
                <input type="text" name="bmi" placeholder="BMI" required="required">
            </div>
            <div class="input-parameters">
                <input type="text" name="diabetes_pedigree_function" placeholder="Diabetes pedigree function"
                       required="required">
            </div>
            <div class="input-parameters">
                <input type="text" name="age" placeholder="Age" required="required">
            </div>
            <div class="output">
                {{ prediction_text }}
            </div>
            <div class="buttons-data">
                <button type="submit" class="predict">Predict</button>
            </div>
        </form>
        <div class="buttons-data">
            <form action="{{ url_for('portray') }}" method="post">
                <button class="portray">Portray</button>
            </form>
        </div>
        </form>
    </div>
</main>
</body>
</html>